<div class="displayParticipanteHeader">
    <img src="https://icon-icons.com/descargaimagen.php?id=53267&root=546/PNG/128/&file=1455555016_users-15_icon-icons.com_53267.png" class="avatar">
    <h2>{{(participante$ |async)?.nombre}} {{(participante$ |async)?.apellido}}</h2>
    <div class="displayParticipanteInfo">
        Fecha de nacimiento: {{(participante$ |async)?.fechaNacimiento}}<br>
        Club: {{(participante$ |async)?.idClub}}<br>
    </div>
</div>
<div>
    <button class="btn btn-warning">Editar</button>
    <button class="btn btn-danger" (click) = "eliminarParticipante()">Eliminar</button>
    <button class="btn btn-info" routerLink="/participantes" >Volver</button>
</div>

