<h3>Nuevo Alumno</h3>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input 
      required  
      ngModel 
      name="nombre" 
      #nombre="ngModel" 
      id="nombre" 
      type="text" 
      class="form-control">
      <div  class="alert alert-danger" *ngIf="nombre.touched && nombre.invalid">
        <div *ngIf="nombre.errors.required">
          El nombre es un campo requerido
        </div>
      </div>
  </div>
  
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input 
      required  
      ngModel 
      name="apellido" 
      #apellido="ngModel" 
      id="apellido" 
      type="text" 
      class="form-control">
      <div  class="alert alert-danger" *ngIf="apellido.touched && apellido.invalid">
        <div *ngIf="apellido.errors.required">
          El apellido es un campo requerido
        </div>
      </div>
  </div>
  
  <div class="form-group">
    <mat-form-field>
      <input  
        matInput 
        [matDatepicker]="fecNac" 
        name="fechaNacimiento"
        [(ngModel)]="fechaNacimiento"fechaNacimiento  
        readonly 
        placeholder="Fecha de Nacimiento" 
        (focus)="fecNac.open()">
      <mat-datepicker-toggle matSuffix [for]="fecNac"></mat-datepicker-toggle>
      <mat-datepicker #fecNac touchUi="true"></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="form-group">
    <label for="dni">DNI</label>
    <input 
      required  
      ngModel 
      name="dni" 
      #dni="ngModel" 
      id="dni" 
      type="number"
      maxlength="10" 
      class="form-control">
      <div  class="alert alert-danger" *ngIf="dni.touched && dni.invalid">
        <div *ngIf="dni.errors.required">
          El dni es un campo requerido
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="club">Club</label>
    <select ngModel name="idClub" id="club" class="form-control" required>
      <option value=""></option>
      <option *ngFor="let club of clubs" [value]="club.key">{{ club.data.nombre }}</option>
    </select>
  </div>
 
  <button class="btn btn-primary" [disabled]="!f.valid">Guardar</button>
  <button class="btn btn-warning" routerLink="/participantes" >Volver</button>
 
</form>
