<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul >
        <li routerLinkActive ="active current"><a routerLink="/eventos">Clases</a></li>
        <li routerLinkActive ="active current"><a routerLink="/proximasClases">Próximas Clases</a></li>
        <li routerLinkActive ="active current"><a routerLink="/participantes">Alumnos</a>
       
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-md navbar-light bg-light ">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" active >
        <a class="nav-link" routerLink="/eventos">Clases<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proximasClases">Próximas Clases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/participantes">Alumnos</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
