<home-navbar></home-navbar>
<h3>Mis Alumnos</h3>
<!-- 
<ul>
  <li *ngFor = "let participante of participantes$|async"> {{participante.$value||participante.nombre}}
    
  </li>
</ul>  -->

<!-- <div *ngFor = "let participante of participantes$|async as participantes" class="media"> -->
  <div *ngFor = "let participante of participantes" class="media">
  <div class="media-left">
    
      <img (click) = "onClick(participante.key)" src="https://icon-icons.com/descargaimagen.php?id=53267&root=546/PNG/128/&file=1455555016_users-15_icon-icons.com_53267.png" class="media-object avatar">
    
  </div>
  <div class="media-body" >
    <h4 class="media-heading">{{participante.data.nombre}} {{participante.data.apellido}}</h4>
    {{participante.data.dni}}<br>
    {{participante.data.idClub}}
  </div>
  
</div>

<button class="btn btn-success" routerLink="/participantes/nuevo">Nuevo Alumno</button>
