/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
}